@charset "utf-8";

/****************/
/* Fonts import */
/****************/
/*
  woff2 - Chrome 26+, Opera 23+, Firefox 39+
  woff  - Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+
*/


/* Merriweather Sans */

@font-face {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 400; /* normal */
  src:
    url("fonts/merriweather-sans-regular.woff2") format("woff2"),
    url("fonts/merriweather-sans-regular.woff") format("woff");
}

@font-face {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 500; /* medium */
  src:
    url("fonts/merriweather-sans-500.woff2") format("woff2"),
    url("fonts/merriweather-sans-500.woff") format("woff");
}

@font-face {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 700; /* bold */
  src:
    url("fonts/merriweather-sans-700.woff2") format("woff2"),
    url("fonts/merriweather-sans-700.woff") format("woff");
}


/* Montserrat */

@font-face {
  font-family: "Montserrat";
  src:
    url("fonts/Montserrat-Regular.woff2") format("woff2"),
    url("fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src:
    url("fonts/Montserrat-Italic.woff2") format("woff2"),
    url("fonts/Montserrat-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src:
    url("fonts/Montserrat-Medium.woff2") format("woff2"),
    url("fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src:
    url("fonts/Montserrat-MediumItalic.woff2") format("woff2"),
    url("fonts/Montserrat-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src:
    url("fonts/Montserrat-Bold.woff2") format("woff2"),
    url("fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src:
    url("fonts/Montserrat-BoldItalic.woff2") format("woff2"),
    url("fonts/Montserrat-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}


/***************/
/* Style reset */
/***************/

* {
  box-sizing: border-box;
  padding: 0; margin: 0;
  font-family: "Montserrat", sans-serif; /* Merriweather Sans */
}

html, body {
  width: 100%;
  /* height: 100%; */
  font-size: 16px;
  color: #000;
  background-color: #fbfbfb;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #ffb;
}

li {
  list-style: none;
}

.hand-cursor {
  cursor: pointer;
}

.font-mono {
  font-family: Consolas, "Lucida console", monospace;
}

.flex { display: flex; }
.flex-v { display: flex; flex-direction: column; }
.grow-1 { flex-grow: 1; }
.grow-2 { flex-grow: 2; }
