<script>
  export let text = ' '
  export let bold = false
</script>

<button
  class='grow-1'
  class:bold={bold}
  on:click
  tabindex='-1'
>
  {text}
</button>

<style>
  button {
    min-width: 24px;
    min-height: 24px; 
    padding: 0 8px;
    font-size: 1rem;
    tab-index: -1;
  }
  .bold {
    font-weight: bold;
  }
</style>
