<script>
  export let value = ''
  export let multiline = false
  
  import { createEventDispatcher } from 'svelte';
	const dispatch = createEventDispatcher();
  
  function keydown(event) {
    switch(event.keyCode) {
			case 13:
        dispatch('enter', event.detail);
        break;
    }
	}
</script>

{#if multiline === true}
<textarea
  class="font-mono grow-1"
  bind:value
></textarea>
{:else}
<input type="text"
  class="font-mono"
  on:keydown={keydown}
  bind:value
/>
{/if}

<style>
  textarea {
    min-width: 100%;
    min-height: 5rem;
    padding: 2px;
    font-size: 1rem;
  }
</style>
