<script>
  export let self
  export let value = ''
</script>

<textarea
  class="font-mono grow-2"
  readonly
  bind:value
  bind:this={self}
></textarea>

<style>
  textarea {
    min-width: 100%;
    min-height: 5rem;
    padding: 2px;
    font-size: 1rem;
  }
</style>
