<script>
  import InputField from './components/InputField.svelte'
  import OutputField from './components/OutputField.svelte'
  import Button from './components/Button.svelte'

  import {onMount, tick} from 'svelte'
  import {Interpreter, StatusEnum} from '../../core/Interpreter'
  import {StackPrintStr} from '../../utils/stack'
  import {adjustScrool} from '../../utils/scroll'

  let output_field
  let io = {
    input: '',
    output: ''
  }
  async function print(str) {
    io.output += str ?? ' '
    await tick()
    adjustScrool(output_field)
  }
  async function println(str) {
    io.output += `${str ?? ''}\n`
    await tick()
    adjustScrool(output_field)
  }
  io = {...io, print, println}

  let session = null
  let multiline = false

  onMount(async() => {
    session = new Interpreter({io})
	})

  function onEnter(event) {
    // todo: https://codepen.io/morevm/pen/mdJjmjL
    let result = session.Interpret(io.input)
    if (result === StatusEnum.OK) {
      io.println(` ${session.compile? 'COMPILE': 'OK'} ( ${StackPrintStr(session.stack,7)})`)
    } else {
      io.println(` ERROR: ${result}`)
      session.stack.Clear()
    }
  }
</script>

<div class='container flex-v'>
  <OutputField
    bind:value={io.output}
    bind:self={output_field}
  />
  <InputField
    bind:value={io.input}
    {multiline}
    on:enter={onEnter}
  />
  <div class='buttons flex'>
    <Button text='ENTER' bold={true} on:click={onEnter} />
    <Button text='CLEAN' on:click={() => io.output = ''} />
    <Button text='RESET' />
    <Button text='LOAD' />
    <Button text='SAVE' />
    <Button text='MULTILINE' on:click={() => multiline = !multiline} />
  </div>
</div>

<style>
  .container {
    width: 700px; height: 480px;
    max-width: 700px; max-height: 480px;
    border: thin solid #AAA;
  }
  .buttons {
    width: 100%;
    justify-content: space-between;
  }
</style>
