<script>
  // import {onMount} from 'svelte'
  import {Appstate} from './stores/Appstate'
  import {views} from './views'
  import DefaultLayout from './layouts/Default.svelte'

  //onMount(async() => {
		// ...
	//});
  function onKeyDown(event) {
    Appstate.setKeystate(event)
  }
</script>

<svelte:window on:keydown={onKeyDown} />
<DefaultLayout view={views[$Appstate.screenId].view} />
