<script>
  import {views} from '../views'
  export let view
</script>

<div class='layout-container'>
  <div class='main'>
    <div class='content grow-1'>
      <svelte:component this={view}/>
    </div>
  </div>
</div>

<style>
  .main {
    padding: 1.5rem;
    display: flex;
  }
</style>
